* {
    font-family:Tahoma;
    color: #FFFFFF;
    margin: 0px;
    font-weight: bold;
}

header {
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
}

body {
    text-align: left;
    background-color: #23272A;
}

body div a{
    text-decoration:none;
    padding-left: 5%;
    padding-right: 5%;
}

body div a:visited {
    color: #7289DA;
}

body div {
    list-style-type: none;
    background-color: #2C2F33;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}